* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-global {
    display: flex;
    background-color: rgb(241, 85, 85);
    width: 100%;
    min-height:100vh;
}
.sideBar {
    width: 200px;
    height: auto;
    background-color: #5f9ebb;
    border-right:2px solid #3f6c81;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

.logo-identificador {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f6c81;
    font-size: 36px;
    text-transform: capitalize;
    background-color: #fff;
    margin-top: 10px;
}
nav.menu-principal{
    width: 100%;
    margin-top: 30px;
}
.menu-principal ul{
    list-style: none;
}
.menu-principal ul li{
    margin-bottom: 4px;    
}
.menu-principal ul li a, .menu-principal-sub li a{
    font-weight:bold;
    text-align:left;
    color:#fff;
    font-size: 12px;
    line-height: 24px;
    display:flex;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    /* background-color:#6eb3d3; */
    border-radius: 10px 2px;
    border-bottom: solid 0.5px #FFF;
    box-shadow: 0px 3px 5px -2px #3f6c81;
    align-items: center; 
}
.menu-principal-sub{
    overflow: hidden;
    height: 0px;
}
.menu-principal li:hover .menu-principal-sub{
    overflow: hidden;
    height: auto;    
}
.menu-principal-sub li a{
    background-color: #3f6c81;
}

.menu-principal ul li a img.icon{
    margin-right: 15px;
width: 35px;
}
.menu-principal-sub img.iconsub{
    margin-right: 15px;
width: 35px;
}

.menu-principal li a:hover{
    background-color:#87c5e4;

}
.main {
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.header-main-conteudo {
    background-color: #3f6c81;
    height: 50px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

a.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 20px;
    display: flex;
    padding: 10px;
    border: 0.5px #fff solid;
}

.main-conteudo {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-list{
    display: flex;
    position: sticky;
    top:47px;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    background-color: #6eb3d3;
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);

}
.titulo-list-detalhe{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width:70px;
    padding: 10px;
    margin: 3px 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12px;
    flex-wrap: wrap;
    border-radius: 5px;
}
#red{
    color:red;
    font-size: 48px;
}
.list-med-total {
    display: flex;
    background-color: #fff;
    margin-bottom: 0px;
    width: 98%;
    height: auto;
    justify-content: center;
    align-items: center;
    color:#fff;
    border-bottom: solid 0.5px #c9c9c9;
    border-radius: 10px;
    margin-bottom: 5px;
}
.list-med-total:hover {
    background-color: #d3e9fd;
}
.box-list-detalhado{
    display: flex;
    flex-direction: column;
    border-radius:10px;
    background-color: #f1f1f1;
    width: 98%;
    align-items:center;
    height:0px;
    overflow: hidden;
   
}

.list-med-detalhado{
    display: flex;
    background-color: #fff;
    margin-bottom: 5px;
    width: 98%;
    height:auto;
    justify-content: center;
    align-items: center;
    border: solid 0.5px #c9c9c9;
    border-radius: 10px;
    overflow: hidden;
    border:0px;
}
.list-med-total:hover +div.box-list-detalhado ,div.box-list-detalhado:hover{
    height:auto;  
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: -5px;
}
.box-list-detalhado .titulo-list{
    position:relative;
    top:0;
    background-color: #b4b4b4;
    box-shadow: none;
}
.box-list-detalhado .list-med-detalhado{
background-color: transparent;
border-bottom: 0.5px solid #c9c9c9;
border-radius: 0px;
}
.list-med-detalhado .list-med-detalhe{
    color:#686868;
}

.list-med-detalhe {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 70px;
    padding: 10px;
    margin: 3px 0px;
    color: rgb(0, 52, 97);
    font-size: 12px;
    flex-wrap: wrap;
    border-radius: 5px;
    height:auto;
}

.list-med-detalhe:hover {
    background-color: aliceblue;
    overflow: visible;
}